ultralytics==8.3.0
opencv-python==4.9.0.80
pillow==10.3.0
mediapipe==0.10.14

numpy==1.26.4
scipy==1.11.4

openai==1.58.1
sounddevice==0.5.1
python-dotenv==1.0.1
fastapi==0.115.5
uvicorn==0.30.6
python-multipart==0.0.9
requests==2.32.3

matplotlib==3.8.4
timm==0.9.16
einops==0.7.0
huggingface_hub==0.34.4

python-dotenv
onnxruntime==1.18.1